	<footer style="padding: 25px 0;text-align: center;color: rgba(255,255,255,.3);background-color: #222;">
	<p> &copy; Paulus Lestyo Adhiatma </p>
	</footer>
	</div>
	{% load staticfiles %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/Javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'js/lab_4.js' %}"></script>
</body>
</html>