<!-- {% block header %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/lab_4.css' %}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
</head>
<body>
	<div id="content"> 
		<nav class="navbar navbar-default" style="margin-bottom: 0;">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Portfolio</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="{% url 'index' %}">Home</a></li>
		      <li><a href="{% url 'my_skill' %}">My Skill</a></li>
		      <li><a href="{% url 'my_portfolio' %}">My Portfolio</a></li>
		      <li><a href="{% url 'my_experience' %}">My Experience</a></li>
		      <li><a href="{% url 'lab_1:table' %}">Message</a></li>
		      <li><a href="{% url 'lab4' %}">Live Chat</a></li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
	    	  {% if request.session.user %}
		      <li><a href="{% url 'logout' %}">Logout</a></li>
		      {% else %}
		      <li><a href="{% url 'login' %}">Login</a></li>
		      {% endif %}
		    </ul>
		  </div>
		</nav>
<!-- {% endblock %} -->