<!-- {% block header %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
	<div id="content"> 
		<nav class="navbar navbar-default" style="margin-bottom: 0">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">Portfolio</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="{% url 'index' %}">Home</a></li>
		      <li><a href="{% url 'my_skill' %}">My Skill</a></li>
		      <li><a href="{% url 'my_portfolio' %}">My Portfolio</a></li>
		      <li><a href="{% url 'my_experience' %}">My Experience</a></li>
		      <li><a href="{% url 'lab_1:table' %}">Message</a></li>
		      <li><a href="{% url 'lab4' %}">Live Chat</a></li>
		    </ul>
		  </div>
		</nav>
<!-- {% endblock %} -->