{% extends "lab_4/layouts/base.html" %}
{% block content %}
<!-- ChatBox Section -->
<section name="Chatbox">
	<div class="wrapper">
		<div class="col-md-3">
			<select class="my-select" style="width: 150px;">
			</select>
			<button class="apply-button">apply</button>
		</div>

		<div class="chat-box">
			<div class="chat-head">
				<h2>Chat</h2>
				<img id="Expand-Arrow" src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16"  style="display: none;">
				<img id="Expand-Arrow-Up" src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_up-16.png" title="Expand Arrow" width="16"">
			</div>
			<div class="chat-body">
				<div class="msg-insert">
				</div>
				<div class="chat-text">
					<textarea id="text" placeholder="Press Enter"></textarea>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}