{% extends "layout/base.html" %}
{% block content %}
		<div class="jumbotron text-center">
			<h1>Log in</h1>
		</div>
	    <div class="col-md-8"> 
	    
		<section name="form">
			<p>{{ request.session.error }}</p>
			<br>
			
			<form id="form" method="POST" action="{% url 'login:login' %}">
			{% csrf_token %}
			{{ form.as_p }}
			<br>
			<button type="submit" class="btn btn-default">Submit</button><br>
			</form>
		</section>
		<br><br>
		</div>

		<div class="col-md-2"> 
	    </div>
	    <div style="clear: both;"></div>
{% endblock %}