{% extends "layout/base.html" %}
{% block content %}
	    {% load staticfiles %}
		<div class="jumbotron text-center">
			<h1>{{ name }}</h1>
		</div>

		<section class="light-gray-bg padding-top-70 padding-bottom-70">
			<div class="container"> 
				<div class="row">
	    			<div class="col-md-3"></div>

	            	<div class="col-md-6 text-justify">
	            		<!-- <div class="text-center"> <img src="{% static 'avatar.png' %}" alt="gambar" style="border-radius: 20%;height: 250px;width: 250px"> 
	            		</div> -->

	            		<p style="text-indent: 50px">Setiap orang pasti memiliki kesan hal yang pertama mereka lakukan, termasuk juga dengan pertama kali ngoding. Sebelum saya masuk di Sekolah Menengah Kejuruan(SMK) Negeri 2 Surakarta dengan Jurusan Rekayasa Perangkat Lunak(RPL) saya sudah mencoba-coba untuk ngoding menggunakan laptop saya dan bahasa pemrograman yang saya coba pertama kali yaitu bahasa pemorgraman html.</p>
	            		<div class="text-center"> <img src="{% static 'img/belajar.png' %}" alt="gambar" style="height: 250px;"> 
	            		</div>
	            		<br>
	            		<p style="text-indent: 50px">Saat ngoding pertama kali itu saya tidak ngoding sendiri dari awal, melaikan copas dari tutorial yang diberikan oleh teman saya. Walaupun hanya copas dari tutorial tapi ketika saya jalankan di browser dan berjalan dengan lancar, saya sangat senang sekali. Dan itulah pertama kalinya saya ngoding.</p>
	            	</div>

	            	<div class="col-md-3"></div>

				</div>
			</div>
		</section>
	


{% endblock %}
