{% extends "layout/base.html" %}
{% block content %}
	    {% load staticfiles %}
	    
		<div class="jumbotron text-center">
			<h1>{{ name }}</h1>
		</div>


		<section class="light-gray-bg padding-top-70 padding-bottom-70">
			<div class="container"> 
				<div class="row">
	    			<div class="col-md-2"> 
	            	</div> 	 
	            	<div class="col-md-8 text-center"> <span class="date"></span>

	      <h3>Wonderful Indonesia</h3>
	      <div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		    <li data-target="#myCarousel" data-slide-to="3"></li>
		    <li data-target="#myCarousel" data-slide-to="4"></li>
		    <li data-target="#myCarousel" data-slide-to="5"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" style="height: 400px">
		    <div class="item active" style="height: 100%;width: 100%;">
		      <img src="{% static 'img/1.png' %}" style="height: 100%;width: 100%;">
		    </div>
		    <div class="item" style="height: 100%;width: 100%;">
		      <img src="{% static '/img/2.png' %}" style="height: 100%;width: 100%;">
		    </div>
		    <div class="item" style="height: 100%;width: 100%;">
		      <img src="{% static '/img/3.png' %}" style="height: 100%;width: 100%;">
		    </div>
		    <div class="item" style="height: 100%;width: 100%;">
		      <img src="{% static '/img/4.png' %}" style="height: 100%;width: 100%;">
		    </div>
		    <div class="item" style="height: 100%;width: 100%;">
		      <img src="{% static '/img/5.png' %}" style="height: 100%;width: 100%;">
		    </div>
		    <div class="item" style="height: 100%;width: 100%;">
		      <img src="{% static '/img/6.png' %}" style="height: 100%;width: 100%;">
		    </div>
		  </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousel" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
		<p>Website diatas adalah sebuah website bertemakan keindahan indonesia yang dibuat oleh tim yang beranggotakan 3 orang termasuk saya. Untuk Lomba Web Design IT Fest 2018 yang diadakan oleh UNS dan tidak disangka mendapatkan juara 3.</p>
		<br><br>

		<h3>Interior Design With CodeIgniter</h3>
	      <div id="myCarousels" class="carousel slide" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousels" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousels" data-slide-to="1"></li>
		    <li data-target="#myCarousels" data-slide-to="2"></li>
		    <li data-target="#myCarousels" data-slide-to="3"></li>
		    <li data-target="#myCarousels" data-slide-to="4"></li>
		    <li data-target="#myCarousels" data-slide-to="5"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" style="height: 400px">
		    <div class="item active" style="height: 100%;width: 100%;">
		      <img src="{% static 'img/inteco1.png' %}" style="height: 100%;width: 100%;">
		    </div>
		    <div class="item" style="height: 100%;width: 100%;">
		      <img src="{% static '/img/inteco2.png' %}" style="height: 100%;width: 100%;">
		    </div>
		    <div class="item" style="height: 100%;width: 100%;">
		      <img src="{% static '/img/inteco3.png' %}" style="height: 100%;width: 100%;">
		    </div>
		    <div class="item" style="height: 100%;width: 100%;">
		      <img src="{% static '/img/inteco4.png' %}" style="height: 100%;width: 100%;">
		    </div>
		    <div class="item" style="height: 100%;width: 100%;">
		      <img src="{% static '/img/inteco5.png' %}" style="height: 100%;width: 100%;">
		    </div>
		    <div class="item" style="height: 100%;width: 100%;">
		      <img src="{% static '/img/inteco6.png' %}" style="height: 100%;width: 100%;">
		    </div>
		  </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#myCarousels" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#myCarousels" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
		<p>Website yang satu ini saya buat dengan menggunakan Framework PHP Codeigniter dan template css yang saya download di internet yang sudah saya edit sesuai keinginan saya.</p>
					    
	            	</div>
	            	<div class="col-md-2"> 
	            	</div>

				</div>
			</div>
		</section>

		<section name="Chatbox">
			<div class="wrapper">
				<div class="chat-box">
					<div class="chat-head">
						<h2>Chat</h2>
						<img id="Expand-Arrow" src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_down-16.png" title="Expand Arrow" width="16" style="display: none;">
						<img id="Expand-Arrow-Up" src="https://maxcdn.icons8.com/windows10/PNG/16/Arrows/angle_up-16.png" title="Expand Arrow" width="16">
					</div>
					<div class="chat-body">
						<div class="msg-insert">
						</div>
						<div class="chat-text">
							<textarea id="text" placeholder="Press Enter"></textarea>
						</div>
					</div>
				</div>
			</div>
		</section>
	

{% endblock %}
