{% extends "layout/base.html" %}
{% block content %}
	    {% load staticfiles %}
	    
		<div class="jumbotron text-center">
			<h1>{{ name }}</h1>
		</div>

		<section class="light-gray-bg padding-top-70 padding-bottom-70">
			<div class="container"> 
				<div class="row">
	            	<div class="col-md-6 text-justify"> <span class="date"></span>
	            		<h1 class="text-center">Basic</h1>
	            		<h4>HTML</h4>
	            		 <div class="progress">
							  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
					  		  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
					  		  </div>
						</div>
						<h4>CSS | CSS3</h4>	
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
						  aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
						  </div>
						</div>
						<h4>Javascript</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
						  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
						  </div>
						</div>
						<h4>Python</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
						  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
						  </div>
						</div> 

	            	</div>
	            	<div class="col-md-6 text-justify"> <span class="date"></span>
	            		<h1 class="text-center">Framework</h1>
	            		<h4>CodeIgniter</h4>
	            		 <div class="progress">
							  <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
					  		  aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">
					  		  </div>
						</div>
						<h4>Laravel</h4>	
						<div class="progress">
						  <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
						  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
						  </div>
						</div>
						<h4>Django</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
						  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
						  </div>
						</div>
						<h4>Bootstrap</h4>
						<div class="progress">
						  <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
						  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%">
						  </div>
						</div> 

				</div>
			</div>
		</section>
	


{% endblock %}