{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="LAB 4">
<meta name="author" content="{{author}}">
<!-- bootstrap csss -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'css/lab_4.css' %}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<title>
{% block title %} Lab 4 By Paul {% endblock %}
</title>
</head>
<body>
<header>
{% include "lab_4/partials/header.html" %}
</header>
<content>
{% block content %}
<!-- content goes here -->
{% endblock %}
</content>
<footer>
<!-- TODO Block Footer dan include footer.html -->
{% block footer %}
{% include "lab_4/partials/footer.html" %}
{% endblock %}
</footer>
<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
			selectedTheme = JSON.parse(localStorage.selectedTheme);
			$('body').css('background-color',selectedTheme.bcgColor);
			$('.apply-button').css('color',selectedTheme.fontColor);
	});
</script>
<script type="application/Javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js "></script>
<script src="{% static 'js/lab_4.js' %}"></script>
</body>