{% extends "layout/base.html" %}
{% block content %}

<div class="jumbotron text-center">
			<h1>Form Result</h1>
			<p> Pesan dari {{ name }} </p> 
		</div>

<!-- {% block title %}{% endblock %} -->
<textarea readonly rows="5" class="form-control">&quot;{{message}}&quot;- {{name}}
	by {{ email }}
</textarea>
{% endblock %}
