{% extends "layout/base.html" %}
{% block content %}
	    {% load staticfiles %}
		<div class="jumbotron text-center">
			<h1>{{ name }}</h1>
			<p>NO LIFE IS ENOUGH</p> 
		</div>

		<section class="light-gray-bg padding-top-70 padding-bottom-70">
			<div class="container"> 
				<div class="row">
	    			<div class="col-md-3 col-md-offset-2"> 
		                <img src="{% static 'avatar.png' %}" alt="gambar" style="border-radius: 50%;height: 250px;width: 250px"> 
	            	</div>
	            	 
	            	<div class="col-md-6 text-justify"> <span class="date"></span>
	            		<h4>Lahir 9 Maret 2002 ({{ age }} years old)</h4>
					    <table>
		                    <tr>
		                      <td style="padding:5px">Alamat</td>
		                      <td style="padding:5px">: Beralamat di Jl. Makam Bergolo No. 19, RT.04 RW.08 Serengan, <br>&nbsp Serengan, Surakarta</td>
		                    </tr>
		                    <tr>
		                      <td style="padding:5px">Email</td>
		                      <td style="padding:5px">: email : lestyo24@gmail.com</td>
		                    </tr>
		                    <tr>
		                      <td style="padding:5px">Kontak</td>
		                      <td style="padding:5px">: 089667259831</td>
		                    </tr>
		                  </table>
		                  <br>
	            		<p>Perkenalkan nama saya adalah <b>{{ name }}</b>. Sebut saja saya seorang programmer dari SMK N 2 Surakarta yang saat ini sedang menjalani praktek kerja industri di <a href="http://www.duxeos.com" target="_blank">Duxeos Software House</a>. Saya masih sangat membutuhkan ilmu pengetahuan tetang programming baik itu dibidang bahasa pemrograman maupun wawasan tentang pemrograman.</p>
	            	</div>

				</div>
			</div>
		</section>
		
		<div class="col-md-2"> 
	    </div>
	    <div class="col-md-8"> 
	    
		<section name="form">
			<h2>Send Message</h2>
			
			<form id="form" method="POST" action="{% url 'lab_1:message_post' %}">
			{% csrf_token %}
			{{ message_form }}
			<br>
			<button type="submit" class="btn btn-default">Submit</button><br>
			</form>
		</section>
		<br><br>
		</div>

		<div class="col-md-2"> 
	    </div>
	    <div style="clear: both;"></div>
{% endblock %}